CONFIG_BOARD_EMULATION_QEMU_X86_I440FX=y
CONFIG_COREBOOT_ROMSIZE_KB_8192=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="../../example-amd64.vmlinuz"
CONFIG_LINUX_COMMAND_LINE="console=ttyS0,115200"
CONFIG_LINUX_INITRD="../../example-amd64.cpio.xz"
