CONFIG_USE_OPTION_TABLE=y
CONFIG_VENDOR_INTEL=y
CONFIG_FSP_FILE="3rdparty/intel-blobs/fsp/broadwell_de/platina-mk1.bin"
CONFIG_CBFS_SIZE=0x00800000
CONFIG_ENABLE_FSP_FAST_BOOT=y
CONFIG_BOARD_INTEL_CAMELBACKMOUNTAIN_PLATINA_FSP=y
CONFIG_FSP_LOC=0xffedf680
CONFIG_COREBOOT_ROMSIZE_KB_16384=y
CONFIG_CPU_MICROCODE_HEADER_FILES="3rdparty/intel-blobs/microcode/cpu/broadwell_de/M1050663_07000009.h 3rdparty/intel-blobs/microcode/cpu/broadwell_de/M1050662_0000000F.h 3rdparty/intel-blobs/microcode/cpu/broadwell_de/MFF50661_F1000008.h"
CONFIG_HAVE_FSP_BIN=y
# CONFIG_ON_DEVICE_ROM_LOAD is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_CONSOLE_POST=y
CONFIG_PAYLOAD_NONE=y
